/*============== MAIN SETTINGS ============*/

body {
    margin: 0;
    font-family: Fontin, Arial, Verdana;
    font-size: 18px;
    /*background-color: #e9ebee;*/
    width: 100%;
  height: 100%;
  background: url(../../images/back.png) repeat fixed;
}

input {
    font-family: Fontin, Arial, Verdana;
    width: 100%;
    font-size: 18px;
    padding: 2px;
}

button {
    font-family: Fontin, Arial, Verdana;
    font-size: 18px;
}

input[type=radio] {
    width: auto;
}

textarea {
    width: 100%;
}

/*ul {
    list-style:;
}*/

ul a {
    text-decoration: none;
}

span {
    color: red;
}

.required {
    color: red;
}

.container {
    margin: 0 auto;
    width: 1068px;
}


/*============== NAVBAR SETTINGS ============*/

.usernav {
    background-color: #990099;
    overflow: auto;
}

.usernav ul {
    float: right;
    margin: 0;
    padding: 0;
}

.usernav ul li {
    display: inline;
}

.usernav ul li a {
    display: inline-block;
    color: white;
    padding: 8px 16px;
}

.usernav ul li a:hover {
    background-color: #1a001a;
}


/* Search */

.usernav .globalsearch {
    margin: 0;
    width: 60%;
    background-color: #990099;
}

.usernav .globalsearch input[type=text] {
    border: none;
    width: 120px;
    padding: 2px 6px;
    border-radius: 6px;
    margin: 5px;

}

.usernav .globalsearch input[type=submit] {
    background-color: #1a001a;
    color: #ffffff;
    border: none;
    margin: 5px 5px 5px 0;
    padding: 2px 6px;
    width: auto;
}

.usernav .globalsearch input[type=submit]:hover {
    background-color: #23385f;
    color: white;
}

.usernav .globalsearch select {
    font-family: Fontin;
    font-size: 18px;
    margin-left: 5px;
    padding: 0.9px 0px;
    vertical-align: -1px;
    border-radius: 6px;

}


/*============== POSTS SETTINGS ============*/


/* General Layout of Post */

.post,
.createpost {
    background-color: #999999;
    box-shadow: 0 0 5px #4267b2;
    margin: auto;
    width: 650px;
    padding: 10px 16px;
    overflow: auto;
}


/* Create Post Control */

.createpostbuttons {
    width: 50%;
    margin: auto;
    overflow: auto;
}

.createpostbuttons img {
    display: inline-block;
    width: 29%;
    height: auto;
    margin-bottom: 0;
    float: left;
}

.createpostbuttons label {
    cursor: pointer;
    width:50%;

}

.createpostbuttons input[type="file"] {
    display: none;


}

.createpostbuttons input[type=submit] {
    width: 60%;
    float: right;
    background-color: #4267b2;
}

.createpostbuttons input[type=submit]:hover {
    background-color: #23385f;
    float: right;
}


/* Post */

.post .public {
    float: right;
    text-align: center;
    width: auto;
}


/*============== HEADINGS AND LINKS ============*/

h1 {

    color: #23385f;
    font-weight: normal;
    text-align: center;
    font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h2 {
    font-family: Fontin SmallCaps;
    color: black;
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 0;
}

h3,
a.profilelink {
    font-family: Fontin SmallCaps;
    color: red;
    font-weight: normal;
    font-size: 120%;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    margin-left: 5px;
    vertical-align: 12px;
    text-decoration: none;
}

a.profilelink:hover {
    text-decoration: underline;
}


/* Horizontal Line after H2 */

hr {
    margin-bottom: 30px;
    margin-top: 0px;
    border-color: red;
}
/*=========================================*/
div.edi{
  margin: 0 auto;
  width: 1068px;

}
div.edi button {
    background-color: #990099;
    border: none;
    outline: none;
    color: white;
    float: left;
    padding: 10px;
    cursor: pointer;
    width: 50%;
    border-radius: 6px;
}

div.edi button:hover {
    background-color: #330033;
}

div.edi{
  background-color: #c1d7d7;
}
div.edi input[type=text]{
  width: 250px;
}
div.edi select{
  width: 160px;
}


/*============== TAB SETTINGS ============*/

div.tab {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

div.tab button {
    background-color: #990099;
    border: none;
    outline: none;
    color: white;
    float: left;
    padding: 10px;
    cursor: pointer;
    width: 50%;
    border-radius: 6px;
}

div.tab button:hover {
    background-color: #330033;
}

div.content{
  background-color: #c1d7d7;
}
div label{
   color: #0000b3; font-weight: bold; display: block; width: 250px;float:none;
}

/*==============DEFAULT TAB SETTINGS ============*/

div.tab button.active {
    background-color: #330033;
}

#signup {
    display: none;

}


/*============== SUBMIT BUTTONS ============*/

input[type=submit] {
    color: white;
    cursor: pointer;
    background-color: #23385f;
    border: none;
    padding: 8px;
}

.container input[type=submit] {
    background-color: #990099;
    border-radius: 6px;
}

.container input[type=submit]:hover {
    background-color: #330033;
}


/*============= SPECIFIC BUTTONS MODIFICATION ========*/

input[type=checkbox] {
    width: fit-content;
}


/*============= FRIENDS FRAMES ========*/

.frame {
    width: 200px;
    display: inline-block;
    box-shadow: 0 0 5px #4267b2;
    background-color: white;
    padding: 10px;
    margin: 5px;
}


/*============= SUB CONTAINERS ========*/

.userquery {
    background-color: #999999;
    box-shadow: 0 0 5px #999999;
    margin: auto;
    width: 320px;
    padding: 20px 20px 0px 20px;
    overflow: auto;
    text-align: center;
}

.userquery a {
    text-decoration: none;
}

.userquery a:hover {
    text-decoration: underline;
}


/*============= DISABLED BUTTONS ========*/

input:disabled {
    cursor: auto;
}

#special:hover {
    background-color: #4267b2;
}
